<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="uft-8">
    <title>Master DB</title>
    <link rel="stylesheet" href="{% static 'MasterDB/css/MasterDB.css' %}">
</head>

<body>
    <div class="title">
        <span>나라</span>
        <span>도시</span>
        <span>장소</span>        
    </div>
    <div class = "addData">
        <input type="text" size="25"></input>
        <input type="text"  size="25"></input>
        <input type="text"  size="25"></input>
        <form class = "addData1">
            <button submit="handleSubmit();"><span style="font-size:25px">
            추가</span></button>
        </form>
    </div>
    
    <form  class = "Masterdb">
        <select name="country" style="width:190px">
            <option value="none">===선택===</option>            
            {% for Country in Country_list %}
                <option value="none">{{ Country.name }}</option>
            {% endfor %}            
        </select>
        
        <select name="city" style="width:190px">
            <option value="none">===선택===</option>            
            {% for City in City_list %}
                <option value="none">{{ City.name }}</option>
            {% endfor %}            
        </select>        


    </form>
    
    
    
    <script src="{% static 'MasterDB/js/adddata.js' %}"></script>
        

</body>

</html>
